<div ng-show="!varallapps.currentrealm" class="md-padding">
  No App Selected
</div>
<div ng-show="varallapps.currentrealm" class="md-padding">
    <form name="form" class="md-padding">
      <div layout="row" layout-padding-sm ng-show="varupdateapppush.error">
        <p class="md-body-1" style="color:red">{{varupdateapppush.error}}</p>
      </div>

      <label>Enter app's Bundle ID</label>
      <md-input-container class="md-block">
        <label>Bundle ID</label>
        <input type="text" ng-model="varupdateapppush.apnsbundleid"/>
      </md-input-container>

      <label>Enter the API Key for the GCM Project</label>
      <md-input-container class="md-block">
        <label>GCM API Key</label>
        <input type="text" ng-model="varupdateapppush.gcmsenderapikey"/>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="updateapppushfn()" ng-disabled='form.$invalid || varupdateapppush.btndisabled'> Save Changes </md-button>
    </form>
</div>
