<div class="content-subheader">
  <div layout="row" layout-align="start center">
    <div layout="column">
      <h1 class="md-headline">{{adminappviewinteractsection.selectedsection.name}}</h1>
    </div>
    <span flex></span>

    <div ng-hide="adminappviewinteractsection.selectedsection.firstmessageformindicator && !adminappviewinteractsection.selectedsection.firstmessageform">
      <md-button ng-if="adminappviewinteractsection.selectedsection.firstmessageformindicator" ng-click="gotoupdateinteractmessageform()" class="md-raised">
        <md-icon class="metrial-icons">settings</md-icon> Form Settings
      </md-button>
      <md-button ng-if="adminappviewinteractsection.selectedsection.initiatedby=='Administrator'" ng-click="compose()" class="md-raised md-primary">
        <md-icon class="metrial-icons">add</md-icon> New
      </md-button>
    </div>

  </div>
</div>

<div class="md-padding" ng-show="adminapp.apploading || adminappviewinteractsection.interactionsloading" layout="row" layout-align="center center">
  <p> Loading...</p>
</div>

<div ng-hide="adminapp.apploading || adminappviewinteractsection.interactionsloading">
  <div class="md-padding" ng-show="adminappviewinteractsection.interactionsloadingerror || adminapp.apperror || adminapp.noapp" layout="row" layout-align="center center">
    <p> Unable to load. Please try again later!</p>
  </div>
</div>

<div class="md-padding" ng-hide="adminapp.apploading || adminapp.apperror || adminapp.noapp || adminappviewinteractsection.interactionsloading || adminappviewinteractsection.interactionsloadingerror">

  <div layout="row" flex layout-fill>

      <!--Edit View-->
      <div flex layout="column" class="padding-horizontal-large padding-vertical-large">

        <div class="special-message-width" layout="column" layout-align="center center" ng-show="adminappviewinteractsection.nointeraction &&
          !(adminappviewinteractsection.selectedsection && adminappviewinteractsection.selectedsection.firstmessageformindicator && !adminappviewinteractsection.selectedsection.firstmessageform)">
            <span class="md-display-1 padding-vertical">Section is currently Empty</span>
            <img style="max-height: 256px; max-width: 256px;" class="padding-vertical-large" ng-src= "{{base64images.messageformfile}}" />
            <span ng-if="adminappviewinteractsection.selectedsection.initiatedby=='Administrator'" class="md-subhead padding-vertical-large"> This section is currently empty. Click below to create an entry.</span>
            <span ng-if="adminappviewinteractsection.selectedsection.initiatedby!='Administrator'" class="md-subhead padding-vertical-large"> This section is currently empty.</span>
            <md-button ng-if="adminappviewinteractsection.selectedsection.initiatedby=='Administrator'" ng-click="compose()" class="md-raised md-primary">
              <md-icon class="metrial-icons">add</md-icon> New
            </md-button>
        </div>

        <div ng-hide="adminappviewinteractsection.nointeraction || (adminappviewinteractsection.selectedsection && adminappviewinteractsection.selectedsection.firstmessageformindicator && !adminappviewinteractsection.selectedsection.firstmessageform)">
          <div layout="row" layout-align="start center" class="padding-top"
            ng-hide="adminappviewinteractsection.interactionsloadingerror || adminappviewinteractsection.interactionsloading || adminappviewinteractsection.nointeraction">
            <span class="md-body-1"> Showing {{adminappviewinteractsection.interactionsfrom}} to
              {{adminappviewinteractsection.interactionsto}} of
              {{adminappviewinteractsection.interactionstotalcount}}
            </span>
            <span flex></span>
            <md-button class="md-raised md-icon-button md-primary" ng-disabled="!adminappviewinteractsection.interactionsprevpage" ng-click="prevpage()"><md-icon>navigate_before</md-icon></md-button>
            <md-button class="md-raised md-icon-button md-primary" ng-disabled="!adminappviewinteractsection.interactionsnextpage" ng-click="nextpage()"><md-icon>navigate_next</md-icon></md-button>
          </div>

          <md-list ng-hide="adminappviewinteractsection.interactionsloadingerror || adminappviewinteractsection.interactionsloading || adminappviewinteractsection.nointeraction">
            <md-list-item ng-repeat="interaction in adminappviewinteractsection.interactions" ng-click="openinteraction(interaction)">
              <span flex="20" class="one-line-only md-body-1" style="margin-right: 12px; min-width: 20% !important"
               ng-style="(interaction.myunreadcount && interaction.myunreadcount>0)?{'font-weight':'bold'}:{}">
                 <md-icon ng-if="(interaction.myunreadcount && interaction.myunreadcount>0)" class="md-primary">fiber_new</md-icon>
                 {{ interaction.displayrecievernames }}
              </span>
              <span flex="5" class="one-line-only md-caption" style="margin-right: 12px;min-width: 50px;">({{ interaction.messagecount }})</span>

              <span flex="initial" class="one-line-only md-body-1" style="margin-right: 4px; min-width: 50px;"
                 ng-style="(interaction.myunreadcount && interaction.myunreadcount>0)?{'font-weight':'bold'}:{}">
              {{ interaction.title }}
              </span>
              <span flex="initial" class="one-line-only md-body-1" style="margin-right: 12px; color: #777; min-width: 50px;"
               ng-style="(interaction.myunreadcount && interaction.myunreadcount>0)?{'font-weight':'bold'}:{}">
              {{interaction.lastmessagepreview}}
              </span>
              <span flex></span>
              <span flex="10" class=" md-body-1" style="text-align:right; min-width: 100px" ng-style="(interaction.myunreadcount && interaction.myunreadcount>0)?{'font-weight':'bold'}:{}">
                {{(interaction.lastmessagedate || interaction.updatedon) | amCalendar:referenceTime:formats}}
              </span>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>

          <br />

          <div layout="row" layout-align="start center"
            ng-hide="adminappviewinteractsection.interactionsloadingerror || adminappviewinteractsection.interactionsloading || adminappviewinteractsection.nointeraction">
            <span class="md-body-1"> Showing {{adminappviewinteractsection.interactionsfrom}} to
              {{adminappviewinteractsection.interactionsto}} of
              {{adminappviewinteractsection.interactionstotalcount}}
            </span>
            <span flex></span>
            <md-button class="md-raised md-icon-button md-primary" ng-disabled="!adminappviewinteractsection.interactionsprevpage" ng-click="prevpage()"><md-icon>navigate_before</md-icon></md-button>
            <md-button class="md-raised md-icon-button md-primary" ng-disabled="!adminappviewinteractsection.interactionsnextpage" ng-click="nextpage()"><md-icon>navigate_next</md-icon></md-button>
          </div>

        </div>

    </div>
    <!--End of Edit View-->

  </div>
</div>
