<div class="content-subheader">
  <div layout="row" layout-align="start center">
    <div layout="column">
      <h1 class="md-headline">{{adminappnewinteractionmessage.selectedsection?adminappnewinteractionmessage.selectedsection.name + " - New Message": "Loading.."}}</h1>
    </div>
    <span flex></span>
    <md-button class="md-raised" ng-click="backtointeractions()"> Cancel</md-button>
  </div>
</div>

<div class="md-padding" ng-show="adminapp.apploading || adminappnewinteractionmessage.firstmessageformloading || adminappnewinteractionmessage.getusersloading" layout="row" layout-align="center center">
  <p> Loading...</p>
</div>

<div ng-hide="adminapp.apploading || adminappnewinteractionmessage.firstmessageformloading || adminappnewinteractionmessage.getusersloading" layout="column" layout-align="center center">
  <div class="md-padding" ng-show="adminapp.apperror || adminapp.noapp">
    <p> Unable to load app details. Please try again later!</p>
  </div>
  <div class="md-padding" ng-show="adminappnewinteractionmessage.firstmessageformloadingerror || adminappnewinteractionmessage.nofirstmessageform">
    <p> Unable to load message form. Please try again later!</p>
  </div>
  <div class="md-padding" ng-show="adminappnewinteractionmessage.getuserserror">
    <p> Unable to load user details. Please try again later!</p>
  </div>
  <div class="md-padding" ng-show="adminappnewinteractionmessage.nouser">
    <p> No registered user to send messages to.</p>
  </div>
</div>

<div class="md-padding" ng-hide="adminapp.apploading || adminapp.apperror || adminapp.noapp || adminappnewinteractionmessage.firstmessageformloading || adminappnewinteractionmessage.firstmessageformloadingerror || adminappnewinteractionmessage.nofirstmessageform || adminappnewinteractionmessage.getuserserror || adminappnewinteractionmessage.nouser">
  <md-card>
    <div layout="row" layout-align="center center" class="form-title-bar">
      <span flex>Compose Message, Select Recipients, Review and Send</span>
    </div>

    <md-tabs md-selected="adminappnewinteractionmessage.selectedIndex" md-center-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
      <md-tab label="1. Compose Message">
        <form name="form1">
          <div layout="column" class="md-padding">
            <div layout="row">
              <md-input-container flex>
                <label>Interaction Title</label>
                <input md-maxlength="200" required name="interactiontitle" ng-model="adminappnewinteractionmessage.interactiontitle">
                <div ng-messages="form1.interactiontitle.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">The name has to be less than 200 characters long.</div>
                </div>
              </md-input-container>
            </div>
            <div layout="column" ng-if="adminappnewinteractionmessage.selectedsection.firstmessageformindicator">
              <div layout="row" ng-repeat="formfield in adminappnewinteractionmessage.firstmessageform.fields">
                <md-input-container flex ng-if="formfield.fieldtype=='String'">
                  <label>{{formfield.fieldname}}</label>
                  <input name="{{formfield.fieldname}}" type="text" ng-required="formfield.fieldrequired" ng-model="formfield.fieldvalue"></input>
                  <div ng-messages="form1[formfield.fieldname].$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container flex ng-if="formfield.fieldtype=='Number'">
                  <label>{{formfield.fieldname}}</label>
                  <input name="{{formfield.fieldname}}" type="number" ng-required="formfield.fieldrequired" ng-model="formfield.fieldvalue"></input>
                  <div ng-messages="form1[formfield.fieldname].$error">
                    <div ng-message="valid">Invalid Entry!</div>
                    <div ng-message="required">This is required!</div>
                  </div>
                </md-input-container>
                <md-input-container flex  ng-if="formfield.fieldtype=='Date'">
                  <label>{{formfield.fieldname}}</label>
                  <md-datepicker name="{{formfield.fieldname}}" ng-required="formfield.fieldrequired" ng-model="formfield.fieldvalue"></md-datepicker>
                  <div ng-messages="form1[formfield.fieldname].$error">
                    <div ng-message="valid">The entered value is not a date!</div>
                    <div ng-message="required">This is required!</div>
                  </div>
                </md-input-container>
                <md-input-container flex ng-if="formfield.fieldtype=='Select One'">
                  <label>{{formfield.fieldname}}</label>
                  <md-select name="{{formfield.fieldname}}" ng-required="formfield.fieldrequired"
                  data-md-container-class="selectdemoSelectHeader" ng-model="formfield.fieldvalue">
                    <md-option ng-value="validvalue" ng-repeat="validvalue in formfield.validvalues">
                      {{validvalue}}
                    </md-option>
                  </md-select>
                   <div ng-messages="form1[formfield.fieldname].$error">
                     <div ng-message="required">This is required.</div>
                   </div>
                </md-input-container>
                <md-input-container flex ng-if="formfield.fieldtype=='Select Multiple'">
                  <label>{{formfield.fieldname}}</label>
                  <md-select name="{{formfield.fieldname}}" ng-required="formfield.fieldrequired"
                  data-md-container-class="selectdemoSelectHeader" ng-model="formfield.fieldvalue" multiple>
                    <md-option ng-value="validvalue" ng-repeat="validvalue in formfield.validvalues">
                      {{validvalue}}
                    </md-option>
                  </md-select>
                   <div ng-messages="form1[formfield.fieldname].$error">
                     <div ng-message="required">This is required.</div>
                   </div>
                </md-input-container>
              </div>
            </div>
            <div layout="column" ng-if="!adminappnewinteractionmessage.selectedsection.firstmessageformindicator">

              <!-- Input container for text portion of simple message -->
              <div layout="row">
                <md-input-container flex>
                  <label>{{adminappnewinteractionmessage.firstmessageform.fields[0].fieldname}}</label>
                  <textarea name="{{adminappnewinteractionmessage.firstmessageform.fields[0].fieldname}}"
                   ng-required="adminappnewinteractionmessage.firstmessageform.fields[0].fieldrequired"
                   type="textarea" max-rows="5" rows="1"
                  ng-model="adminappnewinteractionmessage.firstmessageform.fields[0].fieldvalue"></textarea>
                  <div ng-messages="form1[adminappnewinteractionmessage.firstmessageform.fields[0].fieldname].$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
              <!-- Image related portion of html -->
              <i ng-show="form1.file.$error.pattern" style="color:red;">Error: The selected file is not a valid image!</i>
              <i ng-show="form1.file.$error.maxSize" style="color:red;">Error: The selected file is too large, max 20MB allowed!</i>
              <div layout="row">
                <div class="md-primary">{{adminappnewinteractionmessage.firstmessageform.fields[1].showimginfo}}</div>
                <md-progress-circular ng-show="adminappnewinteractionmessage.firstmessageform.fields[1].showprogresscircle" md-mode="indeterminate" md-diameter="20px"></md-progress-circular>
              </div>
              <div flex="100" flex-gt-sm="50" ng-show="adminappnewinteractionmessage.firstmessageform.fields[1].fieldorigimg">
                <img ngf-src="adminappnewinteractionmessage.firstmessageform.fields[1].fieldlargeimg" style="max-width: 100%; height: auto;">
              </div>

            </div>
            <br>
            <div layout="row" layout-padding-sm ng-show="adminappnewinteractionmessage.createmessageerror">
              <p class="md-body-1" style="color:red">{{adminappnewinteractionmessage.createmessageerror}}</p>
            </div>

            <div layout="row">
              <!-- Image related buttons -->
              <md-button class="md-button md-raised" ngf-select
              ng-if="!adminappnewinteractionmessage.selectedsection.firstmessageformindicator"
              ng-hide="adminappnewinteractionmessage.firstmessageform.fields[1].fieldlargeimg"
              ng-model="adminappnewinteractionmessage.firstmessageform.fields[1].fieldorigimg" name="file" ngf-capture="'camera'"
              ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
              ngf-before-model-change="beforeimagechange()" ngf-change="afterimagechange()">
                Insert Image
              </md-button>
              <md-button class="md-button md-raised" ng-click="removeimage()" ng-hide="!adminappnewinteractionmessage.firstmessageform.fields[1].fieldlargeimg">
                Remove Image
              </md-button>
              <!-- End of Image related buttons -->
              <md-button class="md-raised md-primary" ng-click="gotoselectuserstab()" ng-disabled='form1.$invalid'> Next </md-button>
            </div>
          </div>
        </form>
      </md-tab>
      <md-tab label="2. Select Recipients" ng-disabled='form1.$invalid'>
        <form name="form2">
          <div layout="column" class="md-padding">
            <div  class="md-subhead">
              Check 'Send to All Users' if you want this interaction to be made public and available for all registered users to see and participate.
              Or select 'Send to Select Users' and choose from registered users to have an interaction with selected users.
            </div>
            <br>
            <div layout="row">
              <md-checkbox ng-model="adminappnewinteractionmessage.broadcasttoall" ng-change="adminappnewinteractionmessage.dontbroadcasttoall=!adminappnewinteractionmessage.dontbroadcasttoall">
                 Send To All Users
              </md-checkbox>
              <md-checkbox ng-model="adminappnewinteractionmessage.dontbroadcasttoall" ng-change="adminappnewinteractionmessage.broadcasttoall=!adminappnewinteractionmessage.broadcasttoall">
                 Send To Select Users
              </md-checkbox>
            </div>
            <div ng-show="adminappnewinteractionmessage.dontbroadcasttoall">
              <br>
              <span class="md-caption" ng-show="adminappnewinteractionmessage.selectedUsers.length==0" style="color: red;">
                At least one recipient required
              </span>
              <md-chips name="recipients" ng-model="adminappnewinteractionmessage.selectedUsers" md-autocomplete-snap
                md-require-match=true md-on-add="chipadded($chip)" md-on-remove="chipremoved($chip)" required>
                <md-autocomplete
                    md-selected-item="adminappnewinteractionmessage.selectedUser"
                    md-search-text="adminappnewinteractionmessage.searchUserText"
                    md-items="user in querySearchUsers(adminappnewinteractionmessage.searchUserText)"
                    md-item-text="user.fullname" placeholder="Search and Add">
                  <span md-highlight-text="adminappnewinteractionmessage.searchUserText">{{user.fullname}}</span>
                </md-autocomplete>
                <md-chip-template>
                  <span>
                    {{$chip.fullname}}
                  </span>
                </md-chip-template>
              </md-chips>
              <br>
              <br>
              <label class="md-caption">Registered Users</label>
              <md-list flex>
                <md-list-item class="md-2-line md-long-text recipientselect-userlist" ng-repeat="user in adminappnewinteractionmessage.allusers | filter: adminappnewinteractionmessage.searchTermUser">
                  <md-checkbox ng-model="user.selecteduserind" ng-change="listitemchanged(user)"></md-checkbox>
                  <div class="md-list-item-text">
                    <h3> {{ user.fullname }}</h3>
                    <p> {{user.email}}</p>
                  </div>
                </md-list-item>
              </md-list>
            </div>
            <br>
            <div layout="row">
              <md-button class="md-raised md-primary" ng-click="gotoreviewandsendtab()" ng-disabled='adminappnewinteractionmessage.selectedUsers.length==0 && adminappnewinteractionmessage.dontbroadcasttoall'> Next </md-button>
            </div>
          </div>
        </form>
      </md-tab>
      <md-tab label="3. Review and Send" ng-disabled='form1.$invalid || (adminappnewinteractionmessage.selectedUsers.length==0 && adminappnewinteractionmessage.dontbroadcasttoall)'>
        <div layout="column" class="md-padding">
          <span class="md-caption" style="color:#bbb">To</span>
          <div class="md-subhead" ng-show="adminappnewinteractionmessage.dontbroadcasttoall"
           ng-repeat="user in adminappnewinteractionmessage.selectedUsers">
             <span> {{user.fullname}}</span>
          </div>
          <span class="md-subhead" ng-show="adminappnewinteractionmessage.broadcasttoall">All Users</span>
        </div>
        <md-divider></md-divider>
        <div layout="column" class="md-padding">
          <span class="md-caption" style="color:#bbb">Title</span>
          <span class="md-subhead">{{adminappnewinteractionmessage.interactiontitle}}</span>
        </div>
        <md-divider></md-divider>
        <div layout="column" class="md-padding" ng-repeat="formfield in adminappnewinteractionmessage.firstmessageform.fields">
          <span class="md-caption" style="color:#bbb" ng-if="!(formfield.fieldtype=='Image')">{{formfield.fieldname}}</span>
          <span class="md-subhead" ng-if="formfield.fieldtype=='Date'">{{(formfield.fieldvalue | amDateFormat:'M/D/YYYY')}}</span>
          <span class="md-subhead" ng-if="formfield.fieldtype=='Select Multiple'">{{formfield.fieldvalue?formfield.fieldvalue.join(", "):null}}</span>
          <span class="md-subhead" ng-if="formfield.fieldtype=='String' || formfield.fieldtype=='Number' || formfield.fieldtype=='Select One'">{{formfield.fieldvalue}}</span>
          <div flex="100" flex-gt-sm="50" ng-if="formfield.fieldorigimg">
            <img ngf-src="formfield.fieldlargeimg" style="max-width: 100%; height: auto; padding-top:5px;"/>
          </div>
        </div>
        <md-divider></md-divider>
        <div class="md-padding" layout="row" layout-padding-sm ng-show="adminappnewinteractionmessage.createmessageerror">
          <p class="md-body-1" style="color:red">{{adminappnewinteractionmessage.createmessageerror}}</p>
        </div>
        <div class="md-padding" layout="row">
          <md-button class="md-raised md-primary" ng-click="createInteractionfn()" ng-disabled='form1.$invalid ||
           (adminappnewinteractionmessage.selectedUsers.length==0 && adminappnewinteractionmessage.dontbroadcasttoall)
            || adminappnewinteractionmessage.createbtndisabled'>
            Create Interaction
          </md-button>
        </div>
      </md-tab>
    </md-tabs>
  </md-card>
</div>
