body {
  line-height: 1.42857143;
  color: #58666e;
  min-width: 1124px !important;
  font-family: 'Lato',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

a, nav {
  text-decoration: none;
  cursor: pointer;
}



.simple-special-message {
  margin: 0px 8px 16px 8px;
  min-height: 80px;
  padding: 8px 16px;
	background-color: rgba(0,0,0,0.05);
  border-radius: 8px;
  border: 1px solid #ddd;
}
.simple-special-message-red {
  margin: 0px 8px 16px 8px;
  min-height: 80px;
  padding: 8px 16px;
	background-color: rgba(255,0,0,0.03);
  border-radius: 5px;
  border: 1px solid #ddd;
}
.simple-special-message-green {
  margin: 0px 8px 16px 8px;
  min-height: 80px;
  padding: 8px 16px;
	background-color: rgba(0,255,0,0.03);
  border-radius: 5px;
  border: 1px solid #ddd;
}
.simple-special-message-blue {
  margin: 0px 8px 16px 8px;
  min-height: 80px;
  padding: 8px 16px;
	background-color: rgba(0,0,255,0.03);
  border-radius: 5px;
  border: 1px solid #ddd;
}
.simple-special-message-white {
  margin: 0px 8px 16px 8px;
  min-height: 80px;
  padding: 8px 16px;
	background-color: rgb(255,255,255);
  border-radius: 5px;
  border: 1px solid #ddd;
}
.big-special-message {
  margin-bottom: 24px;
  color: #555;
}
.big-special-message .md-headline {
  margin: 12px 0;
}
.big-special-message .md-display-3 {
  margin: 12px 0;
}

.stacked-special-message {
  max-width: 720px;
  margin: auto;
  color: #555;
}

.infolist-fontsizes {
  font-size: 14px;
}
.infolist-fontsizes p {
  font-size: 14px;
  color: rgba(0,0,0,0.54);
}
.infolist-fontsizes h4 {
  font-size: 14px;
}
.infolist-fontsizes h3 {
  font-size: 16px;
}
.infolist-fontsizes h2 {
  font-size: 18px;
}
.infolist-fontsizes h1 {
  font-size: 20px;
}

.special-message-width {
  max-width: 720px;
  padding: 32px;
  margin-left: auto;
  margin-right: auto;
}

.stacked-special-message div {
  margin: 12px;
}
.circle-background {
  background: #888;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}
.stacked-special-message .circle-background {
  margin-right: 12px;
}
.extra-margin-top {
  margin-top: 72px;
}

.font-normal {
  font-size: 14px !important;
}
.one-line-only {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.no-left-padding {
  padding-left: 0 !important;
}
.no-left-margin {
  margin-left: 0 !important;
}
.site-logo-full {
  height: 38px;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  padding-right: 24px;
}
.toolbar1 {

}

.toolbar1 .toolbar1menu{
  margin: 0 8px;
  padding: 8px;
}
.toolbar1 .toolbar1appname{
  padding: 0;
  padding-right: 24px;
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.toolbar1 .toolbar1divider {
  height:20px;
  width: 1px;
  background-color: rgba(255,255,255,.5);
}
.site-sidenav {
  background-color: #F4F5F7;
  width: 240px;
  border-right: 1px solid #eee;
}
.site-sidenav-menu-animation {
  -webkit-transition:all linear .5s;
  -moz-transition:all linear .5s;
  -o-transition:all linear .5s;
  transition:all linear .5s;
  opacity: 1;
}
.site-sidenav-menu-animation.ng-hide {
  -webkit-transition:all linear 0s;
  -moz-transition:all linear 0s;
  -o-transition:all linear 0s;
  transition:all linear 0s;
  opacity: 0;
}
.site-sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 8px 0px;
    height: 100%;
    overflow: auto;
}
.site-sidenav li a {
    display: block;
    color: rgba(0,0,0,0.3);
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}
.site-sidenav li a md-icon {
  color: rgba(0,0,0,0.4);
}
.site-sidenav li a span {
  color: rgba(0,0,0,0.9);
  margin-left: 8px;
}
.site-sidenav li a:hover {
    background-color: rgba(9, 30, 66, 0.1);
}
.site-sidenav .sidenav-header {
  display: block;
  color: rgba(0,0,0,0.3);
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.site-sidenav .sidenav-header-divider {
  margin: 12px 0;
}
.site-sidenav .active-link {
  background-color: rgba(9, 30, 66, 0.1);
}

.site-topnav-panel1 {
  background: #0D47A1 !important;
  color: #fff !important;
}

.light-bright-onhover {
  color: rgba(0, 0, 0, 0.4);
}
.light-bright-onhover:hover {
  color: rgba(0, 0, 0, 1);
}

.page-header-toolbar-account {
  background-color: #f4f5f7 !important;
  color: #58666e !important;
  z-index: 3;
}

.page-header-toolbar-app {
  background-color: #fff !important;
  color: #58666e !important;
  font-weight: normal;
  z-index: 3;
}

.myapps-app-toolbar {
  background-color: #e4e5e7 !important;
  color: #58666e !important;
}

.custom-pagetab-active {
  min-width: 126px;
  background-color: rgba(0,0,0,0.06);
  border-bottom: 2px solid #2196F3;
  padding-left: 16px;
  padding-right: 16px;
}
.custom-pagetab-passive {
  min-width: 126px;
  background-color: rgba(0,0,0,0.06);
  padding-left: 16px;
  padding-right: 16px;
}

.custom-preview-pagetab-active {
  min-width: 126px;
  background-color: #2196F3;
  border: 1px solid #2196F3;
  color: #fff;
  padding: 4px;
}
.custom-preview-pagetab-passive {
  min-width: 126px;
  background-color: #fff;
  border: 1px solid #2196F3;
  color: #2196F3;
  padding: 4px;
}

.custom-simple-button {
  text-transform:none;
  font-weight: normal;
}
.md-button {
  text-transform:none;
  font-weight: normal;
}

.accountBox {
  max-width:  90%;
  width: 450px
}

.stretch input  {
  width: 100%
}

.mytable-responsive {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.mytable {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: center;
    padding: 8px;
}

.mytabletrtd {
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: center;
    padding: 8px;
    font-size: 14px;
    height: 50px;
}

.mytabletrth {
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: center;
    padding: 8px;
    font-size: 14px;
    height: 50px;
}

/* Taken from https://material.angularjs.org/HEAD/demo/select
All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; }


/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
}

[ui-view].ng-enter{
  position: relative;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}


/*this is used to display three items in a row withing md-list*/
@media (min-width: 960px) {
.recipientselect-userlist {
  float: left;
  width: 30%; } }

/*  Mahendran Venkatachalam (mahendran.venkatachalam@gmail.com)*/

.phone-settings-height {
    height: 670px;
    min-height: 670px !important;
    max-height: 670px !important;
}
.phone-settings-min-width {
    min-width: 600px !important;
}
.phone-settings-width {
    width: 600px !important;
    max-width: 600px !important;
}
.phone-settings-frame {
    overflow: scroll;
}
.form-title-bar {
    min-height: 52px;
    background-color: #eee;
    padding: 0 16px;
}
.form-title-bar span {
    font-size: 14px;
}


.main-content {
  background-color: #fff;
}

.content-subheader {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f1f1f1;
  padding: 16px 16px 0 16px;
}

.phone-frame-wrap-container {
  width: 340px;
  max-width: 340px;
  min-width: 340px;
  padding-left: 64px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.phone-frame-wrap {
  position: relative;
  width: 340px !important;
  height: 670px !important;
  min-width: 340px !important;
  min-height: 670px !important;
  max-width: 340px !important;
  max-height: 670px !important;
  background-color: white;
  overflow: auto;
  margin: auto;

  border: 10px solid #1d2d2d;
  border-top: 50px solid #1d2d2d;
  border-bottom: 50px solid #1d2d2d;
  border-radius: 40px;
  box-shadow: 0 0 0 3.5px #C6C7CA;
}

.phone-statusbar-dark {
  width: 320px;
  height: 10px;
  padding: 5px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-image: url("/app/image/mobstatusbar.png");
}

.phone-statusbar-light {
  width: 320px;
  height: 10px;
  padding: 5px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-image: url("/app/image/mobstatusbarwhite.png");
}

.phone-header-style md-icon {
  padding: 0 4px;
}
.phone-header-style span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;

  text-align: center;

  min-height: 36px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;

  padding: 0 6px;
  margin: 6px 8px;
}

.phone-homestyle {
  overflow: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.phone-partial {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-partial-logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 90%;
  min-width: 90%;
  max-width: 90%;
}

.tile-box-25 {
  position: relative;
  overflow: hidden;
}
.tile-box-25:after {
  content: "";
  display: block;
  padding-top: 25%;
}
.tile-box-50 {
  position: relative;
  overflow: hidden;
}
.tile-box-50:after {
  content: "";
  display: block;
  padding-top: 50%;
}
.tile-box-75 {
  position: relative;
  overflow: hidden;
}
.tile-box-75:after {
  content: "";
  display: block;
  padding-top: 75%;
}
.tile-box-100 {
  position: relative;
  overflow: hidden;
}
.tile-box-100:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.tile-box-125 {
  position: relative;
  overflow: hidden;
}
.tile-box-125:after {
  content: "";
  display: block;
  padding-top: 125%;
}
.tile-box-150 {
  position: relative;
  overflow: hidden;
}
.tile-box-150:after {
  content: "";
  display: block;
  padding-top: 150%;
}
.tile-box-200 {
  position: relative;
  overflow: hidden;
}
.tile-box-200:after {
  content: "";
  display: block;
  padding-top: 200%;
}
.tile-box-300 {
  position: relative;
  overflow: hidden;
}
.tile-box-300:after {
  content: "";
  display: block;
  padding-top: 300%;
}
.tile-box-400 {
  position: relative;
  overflow: hidden;
}
.tile-box-400:after {
  content: "";
  display: block;
  padding-top: 400%;
}
.tile-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 2.5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.tile-box-content-img {
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.button-list-parent {
  width: 100%;
  text-align: center;
}
.placeholder-box {
  margin: 10px;
  width: 100px;
  height: 100px;
  border: thin solid #ccc;
}
.placeholder-box-mini {
  margin: 5px;
  width: 60px;
  height: 30px;
  border: thin solid #ccc;
}
.placeholder-box-square-mini {
  width: 30px;
  height: 30px;
  border: thin solid #ccc;
}
.padding-top-large {
  padding-top: 16px;
}
.padding-bottom-large {
  padding-bottom: 16px;
}
.padding-top {
  padding-top: 8px;
}
.padding-bottom {
  padding-bottom: 8px;
}
.padding-vertical-xxl {
  padding-top: 32px;
  padding-bottom: 32px;
}
.padding-vertical-large {
  padding-top: 16px;
  padding-bottom: 16px;
}
.padding-vertical-mdlarge {
  padding-top: 12px;
  padding-bottom: 12px;
}
.padding-vertical {
  padding-top: 8px;
  padding-bottom: 8px;
}
.padding-vertical-small {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-horizontal-large {
  padding-right: 16px;
  padding-left: 16px;
}
.padding-horizontal {
  padding-right: 8px;
  padding-left: 8px;
}
.padding-horizontal-small {
  padding-right: 5px;
  padding-left: 5px;
}
.padding-left-large {
  padding-left: 16px;
}
.padding-left {
  padding-left: 8px;
}
.padding-left-small {
  padding-left: 5px;
}
.padding-right-large {
  padding-right: 16px;
}
.padding-right {
  padding-right: 8px;
}
.padding-right-small {
  padding-right: 5px;
}


.theme-menubar {
  padding: 0 16px;
}
.theme-menubar .theme-menubar1-desc {
  width: 320px;
  max-width: 320px;
  padding-bottom: 12px;
}

.ta-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ta-toolbar .ta-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ta-toolbar .ta-button-group button {
  min-width: 0;
  min-height: 0;
  line-height: normal;
  margin-left: 0;
  color: rgba(0, 0, 0, 0.54);
}
.ta-toolbar .ta-button-group button md-icon {
  color: rgba(0, 0, 0, 0.54);
}
.ta-toolbar .ta-button-group button.active {
  background-color: #f5f5f5;
}

.ta-text-editor .ta-bind {
  border: 1px solid rgba(0, 0, 0, 0.117647);
}
.ta-text-editor .ta-bind:focus {
  border: 2px solid #3f51b5;
  outline: none;
}

.info-data md-list-item:hover {
    background-color: #f5f5f5;
}
