<div class="content-subheader">
  <div layout="row" layout-align="start center">
    <div layout="column">
      <h1 class="md-headline">Edit Subscription Plan</h1>
    </div>
    <span flex></span>
    <md-button class="md-raised" ui-sref="cs.viewplans">Cancel</md-button>
  </div>
</div>

<div layout="column" flex layout-fill>
  <div class="md-padding" ng-show="vareditplan.error" style="color: red">
    {{vareditplan.error}}
  </div>

  <form name="form" class="md-padding">
    <div layout="row" layout-padding-sm ng-show="adminappnewinteractsection.createsectionerror">
      <p class="md-body-1" style="color:red">{{adminappnewinteractsection.createsectionerror}}</p>
    </div>
    <div layout="row" layout-wrap>

      <md-input-container  flex="33">
        <label>Plan Type</label>
        <md-select name="type" ng-model="vareditplan.plan.type"
        data-md-container-class="selectdemoSelectHeader" required>
          <md-option ng-value="plantype" ng-repeat="plantype in vareditplan.plantypes">{{plantype}}</md-option>
        </md-select>
        <div ng-messages="form.initiatedby.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container flex="33">
        <label>Stripe ID</label>
        <input md-maxlength="30" required name="stripeid" ng-model="vareditplan.plan.stripeid">
        <div ng-messages="form.stripeid.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container flex="33">
        <label>Stripe Nick Name</label>
        <input md-maxlength="100" required name="stripenickname" ng-model="vareditplan.plan.stripenickname">
        <div ng-messages="form.stripenickname.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 100 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container flex="50">
        <label>Display First Line</label>
        <input md-maxlength="100" name="displayfirstline" ng-model="vareditplan.plan.displayfirstline">
        <div ng-messages="form.displayfirstline.$error">
          <div ng-message="md-maxlength">This has to be less than 100 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container flex="50">
        <label>Display Second Line</label>
        <input md-maxlength="100" name="displaysecondline" ng-model="vareditplan.plan.displaysecondline">
        <div ng-messages="form.displaysecondline.$error">
          <div ng-message="md-maxlength">This has to be less than 100 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container flex="33">
        <label>Subscription Amount In Cents</label>
        <input required type="number" step="any"  min="0" max="999999" name="subamountincents" ng-model="vareditplan.plan.subamountincents">
        <div ng-messages="form.subamountincents.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="min">Should be atleast 99.</div>
          <div ng-message="max">Cannot be greater than 999999.</div>
        </div>
      </md-input-container>
      <md-input-container flex="66">
        <label>Subscription Amount Description</label>
        <input md-maxlength="100" name="subamountdesc" ng-model="vareditplan.plan.subamountdesc">
        <div ng-messages="form.subamountdesc.$error">
          <div ng-message="md-maxlength">This has to be less than 100 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container flex="33">
        <label>One Time Fee In Cents</label>
        <input type="number" step="any"  min="0" max="999999" name="onetimefeeincents" ng-model="vareditplan.plan.onetimefeeincents">
        <div ng-messages="form.onetimefeeincents.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="min">Should be atleast 99.</div>
          <div ng-message="max">Cannot be greater than 999999.</div>
        </div>
      </md-input-container>
      <md-input-container flex="66">
        <label>One Time Fee Description</label>
        <input md-maxlength="100" name="onetimefeedesc" ng-model="vareditplan.plan.onetimefeedesc">
        <div ng-messages="form.onetimefeedesc.$error">
          <div ng-message="md-maxlength">This has to be less than 100 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container flex="25">
        <label>Trial Period Days</label>
        <input required type="number" step="any"  min="0" max="365" name="trialperioddays" ng-model="vareditplan.plan.trialperioddays">
        <div ng-messages="form.trialperioddays.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="min">Should be atleast 0.</div>
          <div ng-message="max">Cannot be greater than 365.</div>
        </div>
      </md-input-container>
      <md-input-container flex="25">
        <md-switch ng-model="vareditplan.plan.recommended">
          Recommended Plan? : {{ vareditplan.plan.recommended? 'Yes':'No' }}
        </md-switch>
      </md-input-container>
      <md-input-container flex="50">
        <label>Publish Commitment Description</label>
        <input md-maxlength="100" name="publishdesc" ng-model="vareditplan.plan.publishdesc">
        <div ng-messages="form.publishdesc.$error">
          <div ng-message="md-maxlength">This has to be less than 100 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container flex="33">
        <label>Section Limit</label>
        <input type="number" step="any"  min="1" max="999999" name="sectionlimit" ng-model="vareditplan.plan.sectionlimit">
        <div ng-messages="form.sectionlimit.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="min">Should be atleast 1.</div>
          <div ng-message="max">Cannot be greater than 999999.</div>
        </div>
      </md-input-container>
      <md-input-container flex="66">
        <label>Section Limit Description</label>
        <input md-maxlength="100" name="sectionlimitdesc" ng-model="vareditplan.plan.sectionlimitdesc">
        <div ng-messages="form.sectionlimitdesc.$error">
          <div ng-message="md-maxlength">This has to be less than 100 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container flex="33">
        <label>User Limit</label>
        <input type="number" step="any"  min="1" max="999999" name="userlimit" ng-model="vareditplan.plan.userlimit">
        <div ng-messages="form.userlimit.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="min">Should be atleast 1.</div>
          <div ng-message="max">Cannot be greater than 999999.</div>
        </div>
      </md-input-container>
      <md-input-container flex="66">
        <label>User Limit Description</label>
        <input md-maxlength="100" name="userlimitdesc" ng-model="vareditplan.plan.userlimitdesc">
        <div ng-messages="form.userlimitdesc.$error">
          <div ng-message="md-maxlength">This has to be less than 100 characters long.</div>
        </div>
      </md-input-container>


      <md-input-container flex="33">
        <label>Staff Limit</label>
        <input type="number" step="any"  min="1" max="999999" name="stafflimit" ng-model="vareditplan.plan.stafflimit">
        <div ng-messages="form.stafflimit.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="min">Should be atleast 1.</div>
          <div ng-message="max">Cannot be greater than 999999.</div>
        </div>
      </md-input-container>
      <md-input-container flex="66">
        <label>Staff Limit Description</label>
        <input md-maxlength="100" name="stafflimitdesc" ng-model="vareditplan.plan.stafflimitdesc">
        <div ng-messages="form.stafflimitdesc.$error">
          <div ng-message="md-maxlength">This has to be less than 100 characters long.</div>
        </div>
      </md-input-container>

    </div>

    <br />
    <md-button class="md-raised" ui-sref="cs.viewplans">Cancel</md-button>
    <md-button class="md-raised md-primary" ng-click="changeplan()" ng-disabled='form.$invalid || vareditplan.changebtndisabled'> Change </md-button>
  </form>
</div>
