<div class="content-subheader">
  <div layout="row" layout-align="start center">
    <div layout="column">
      <h1 class="md-headline">Subscription Plans</h1>
    </div>
    <span flex></span>
    <md-button class="md-raised md-primary" ui-sref="cs.addplan">New Plan</md-button>
  </div>
</div>

<div ng-show="varsubplans.loading" class="md-padding">
  Loading..
</div>

<div class="md-padding" ng-show="varsubplans.error">
  {{varsubplans.error}}
</div>

<div class="md-padding" ng-show="varsubplans.noplan" layout-align="center" layout="row">
  No Plans to show.
</div>

<div class="md-padding" ng-show="!varsubplans.loading && !varsubplans.error && !varsubplans.noplan">
  <md-card class="md-padding" layout="column" ng-repeat="plan in varsubplans.plans">
    <div layout="row">
      <span class="md-title" flex>{{plan.stripeid}}</span>
      <md-button class="md-primary" ng-click="editplan(plan)">Edit</md-button>
      <md-button class="md-warn" ng-click="deleteplan(plan, $event)">Delete</md-button>
      <md-button class="md-primary" ng-show="!plan.showmoredisplaycard" ng-click="plan.showmoredisplaycard=1">Show More</md-button>
      <md-button class="md-primary" ng-show="plan.showmoredisplaycard" ng-click="plan.showmoredisplaycard=0">Show Less</md-button>
    </div>
    <md-divider></md-divider>
    <div layout="row">
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Stripe ID </span>
        <span class="md-subhead">{{plan.stripeid}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Nick Name </span>
        <span class="md-subhead">{{plan.stripenickname}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Type </span>
        <span class="md-subhead">{{plan.type}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Trial Period Days </span>
        <span class="md-subhead">{{plan.trialperioddays}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Amount in Cents </span>
        <span class="md-subhead">{{plan.subamountincents}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">One Time Fee in Cents </span>
        <span class="md-subhead">{{plan.onetimefeeincents}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Section Limit </span>
        <span class="md-subhead">{{plan.sectionlimit}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Staff Limit </span>
        <span class="md-subhead">{{plan.stafflimit}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">User Limit </span>
        <span class="md-subhead">{{plan.userlimit}}</span>
      </div>
    </div>
    <div layout="column" ng-show="plan.showmoredisplaycard" flex>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Recommended? </span>
        <span class="md-subhead">{{plan.recommended}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Display First Line </span>
        <span class="md-subhead">{{plan.displayfirstline || '-'}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Display Second Line </span>
        <span class="md-subhead">{{plan.displaysecondline || '-'}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Subscription Amount Description </span>
        <span class="md-subhead">{{plan.subamountdesc || '-'}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">One Time Fee Description</span>
        <span class="md-subhead">{{plan.onetimefeedesc || '-'}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Publish Commitment Description</span>
        <span class="md-subhead">{{plan.publishdesc || '-'}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Section Limit Description</span>
        <span class="md-subhead">{{plan.sectionlimitdesc || '-'}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Staff Limit Description</span>
        <span class="md-subhead">{{plan.stafflimitdesc || '-'}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">User Limit Description</span>
        <span class="md-subhead">{{plan.userlimitdesc || '-'}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Created On</span>
        <span class="md-subhead">{{plan.createdon | amDateFormat:'MMM Do YYYY, h:mm:ss a'}}</span>
      </div>
      <div layout="column" layout-align="start" class="md-padding">
        <span class="md-body-1">Updated On</span>
        <span class="md-subhead">{{plan.updatedon | amDateFormat:'MMM Do YYYY, h:mm:ss a'}}</span>
      </div>
    </div>
  </md-card>
</div>
