<div class="content-subheader">
  <div layout="row" layout-align="start center">
    <div layout="column">
      <h1 class="md-headline">Update Form - {{adminappupdateinteractmessageform.selectedsection.name}}</h1>
    </div>
    <span flex></span>
    <md-button class="md-raised" ng-click="backtosection()"> Cancel</md-button>
  </div>
</div>

<div class="md-padding" ng-show="adminapp.apploading" layout="row" layout-align="center center">
  <p> Loading...</p>
</div>

<div ng-hide="adminapp.apploading">
  <div class="md-padding" ng-show="adminapp.apperror || adminapp.noapp" layout="row" layout-align="center center">
    <p> Unable to load app details. Please try again later!</p>
  </div>
  <div class="md-padding" ng-show="!adminappupdateinteractmessageform.firstmessageform" layout="row" layout-align="center center">
    <p> Unable to load form details. Please try again later!</p>
  </div>
</div>

<div class="md-padding" ng-hide="adminapp.apploading || adminapp.apperror || adminapp.noapp || !adminappupdateinteractmessageform.firstmessageform">

  <md-card>
    <div layout="row" layout-align="center center" class="form-title-bar">
      <span flex>Give a name, description and define the fields in the form.</span>
    </div>

    <form name="form" class="md-padding">
      <div layout="row" layout-padding-sm ng-show="adminappupdateinteractmessageform.error">
        <p class="md-body-1" style="color:red">{{adminappupdateinteractmessageform.error}}</p>
      </div>

      <div layout-gt-sm="row" layout="column">
        <md-input-container flex="30">
          <label>Name (not editable)</label>
          <input md-maxlength="30" required name="name" ng-model="adminappupdateinteractmessageform.name">
          <div ng-messages="form.name.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container flex="70">
          <label>Description</label>
          <input md-maxlength="100" name="description" ng-model="adminappupdateinteractmessageform.description">
          <div ng-messages="form.description.$error">
            <div ng-message="md-maxlength">The description has to be less than 100 characters long.</div>
          </div>
        </md-input-container>
      </div>
      <br>
      <div layout="row" layout-align="center center">
        <div layout="column">
          <div class="md-title">Fields in the Form</div>
          <div  class="md-body-1">
            Enter a name for the field, describe its type, specify if it is required or optional. Enter values to choose from if the type is "Select One" or "Select Multiple".
          </div>
        </div>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="addfield($event)">
          <md-icon>add</md-icon>
          Add
        </md-button>
      </div>
      <br />
      <div layout-gt-sm="row" layout="column">
        <div class="mytable-responsive">
          <table class="mytable">
            <tr class="mytabletrth">
              <th width="15%">Name</th>
              <th width="15%">Type</th>
              <th width="15%">Required?</th>
              <th width="25%">Valid Values</th>
              <th width="15%" style="text-align: center"><md-button ng-disabled=true>Change</md-button></th>
              <th width="15%" style="text-align: center"><md-button ng-disabled=true>Remove</md-button></th>
            </tr>
            <tr class="mytabletrtd" ng-repeat="field in adminappupdateinteractmessageform.fields">
              <td width="15%">{{field.fieldname}}</td>
              <td width="15%">{{field.fieldtype=="String"?"Text":field.fieldtype}}</td>
              <td width="15%">{{field.fieldrequired?'Yes':'No'}}</td>
              <td width="25%">{{field.validvalues.join(', ')}}</td>
              <td width="15%" style="text-align: center"><md-button class="md-primary" ng-click="editfield($event, $index)">Change</md-button></td>
              <td width="15%" style="text-align: center"><md-button class="md-primary" ng-click="removefield ($index)">Remove</md-button></td>
            </tr>
          </table>
        </div>
      </div>
      <br>
      <md-button class="md-raised" ng-click="backtosection()"> Cancel</md-button>
      <md-button class="md-raised md-primary" ng-click="updatemessageformfn()" ng-disabled='form.$invalid || adminappupdateinteractmessageform.btndisabled'> Save Changes </md-button>
    </form>
  </md-card>
</div>
