<md-subheader  style="background: #f1f1f1">
  <md-nav-bar md-selected-nav-item="publish.currentnavitem">
    <md-nav-item md-nav-click="goto('notpublished')" name="notpublished">
      Not Published
    </md-nav-item>
    <md-nav-item md-nav-click="goto('unpublished')" name="unpublished">
      Un-Published
    </md-nav-item>
    <md-nav-item md-nav-click="goto('reqtopub')" name="reqtopub">
      Requested To Publish
    </md-nav-item>
    <md-nav-item md-nav-click="goto('reqtorepub')" name="reqtorepub">
      Requested To Re-Publish
    </md-nav-item>
    <md-nav-item md-nav-click="goto('package')" name="package">
      Packaging
    </md-nav-item>
    <md-nav-item md-nav-click="goto('toappstores')" name="toappstores">
      With App Stores
    </md-nav-item>
  </md-nav-bar>
  <md-nav-bar md-selected-nav-item="publish.currentnavitem">
    <md-nav-item md-nav-click="goto('partpub')" name="partpub">
      Partly Published/Re-Published
    </md-nav-item>
    <md-nav-item md-nav-click="goto('published')" name="published">
      Published & Re-Published
    </md-nav-item>
    <md-nav-item md-nav-click="goto('reqtounpub')" name="reqtounpub">
      Requested To Un-Publish
    </md-nav-item>
    <md-nav-item md-nav-click="goto('unpublishinprogress')" name="unpublishinprogress">
      Un-Publish In Progress
    </md-nav-item>
    <md-nav-item md-nav-click="goto('reference')" name="reference">
      Reference
    </md-nav-item>
  </md-nav-bar>
</md-subheader>
<div ui-view></div>
