<div class="content-subheader">
  <div layout="row" layout-align="start center">
    <div layout="column">
      <h1 class="md-headline">Deleted Apps</h1>
    </div>
  </div>
</div>

<div ng-show="vardelete.loading" class="md-padding">
  Loading..
</div>

<div ng-show="!vardelete.loading" class="md-padding">
  <div class="md-padding" ng-show="vardelete.noapp" layout-align="center" layout="row">
    No Apps to show.
  </div>
  <div class="md-padding" ng-show="vardelete.error" layout-align="center" layout="row">
    {{vardelete.error}}
  </div>
  <md-list>
    <md-list-item ng-repeat="app in vardelete.apps" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3>{{ app.appname }}</h3>
        <p ng-style="{'color': (app.deleteind?'red':'')}">{{ app.deleteind?("Deleted on " + (app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')): "Not Deleted" }}</p>
        <p ng-if="app.deleteind">{{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
      </div>
      <md-button class="md-secondary md-warn" ng-if="(-1*(app.deletedate | amDifference : null : 'days')) > 7" ng-click="deletepermanent(app.id)">
        Delete Permanently
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
