<md-progress-linear ng-show="cs.showprogress" md-mode="indeterminate"></md-progress-linear>
<div layout="column" flex>
  <md-toolbar class="md-primary toolbar1">
    <div class="md-toolbar-tools" layout-align="center center" layout="row">
      <h2 flex>Customer Support</h2>
      <a class="md-body-1 toolbar1menu" layout="row" layout-align="center center" ui-sref="cs.allapps" ng-style="{'background-color':(csconfig.mode=='allapps'?'#f1f1f1':''), 'height': '100%', 'color':(csconfig.mode=='allapps'?'#111':'')}">App Info</a>
      <a class="md-body-1 toolbar1menu" layout="row" layout-align="center center" ui-sref="cs.delete" ng-style="{'background-color':(csconfig.mode=='delete'?'#f1f1f1':''), 'height': '100%', 'color':(csconfig.mode=='delete'?'#111':'')}">Deleted Apps</a>
      <a class="md-body-1 toolbar1menu" layout="row" layout-align="center center" ui-sref="cs.publish.reqtopub" ng-style="{'background-color':(csconfig.mode=='publish'?'#f1f1f1':''), 'height': '100%', 'color':(csconfig.mode=='publish'?'#111':'')}">Publish</a>
      <a class="md-body-1 toolbar1menu" layout="row" layout-align="center center" ui-sref="cs.interactions.interactionslist({'sectionid': 'adminrealmsupport'})" ng-style="{'background-color':(csconfig.mode=='support'?'#f1f1f1':''), 'height': '100%', 'color':(csconfig.mode=='support'?'#111':'')}">Support</a>
      <a class="md-body-1 toolbar1menu" layout="row" layout-align="center center" ui-sref="cs.interactions.interactionslist({'sectionid': 'adminrealmnotifications'})" ng-style="{'background-color':(csconfig.mode=='notifications'?'#f1f1f1':''), 'height': '100%', 'color':(csconfig.mode=='notifications'?'#111':'')}">Notifications</a>
      <a class="md-body-1 toolbar1menu" layout="row" layout-align="center center" ui-sref="cs.viewplans" ng-style="{'background-color':(csconfig.mode=='plans'?'#f1f1f1':''), 'height': '100%', 'color':(csconfig.mode=='plans'?'#111':'')}">Plans</a>
      <a class="md-body-1 toolbar1menu" ng-style="">Sign Out</a>
    </div>
  </md-toolbar>

  <md-content flex ui-view layout="column" class="main-content"></md-content>
</div>
