<div ng-show="varallapps.loading" class="md-padding">
  Loading..
</div>

<div class="md-padding" ng-show="varallapps.error">
  {{varallapps.error}}
</div>

<div class="md-padding" ng-show="varallapps.noapp" layout-align="center" layout="row">
  No Apps to show.
</div>

<div ng-show="!varallapps.loading && !varallapps.error && !varallapps.noapp" layout="row" flex layout-fill>
  <div layout="column" flex="33" style="z-index: 5;">
    <md-subheader style="background: #f1f1f1">
      <div layout="row" layout-align="start center">
        <div class="md-subhead" flex>Search For Apps</div>
        <md-button class="md-icon-button" ng-click="showsearchpanel=!showsearchpanel" ng-show="!showsearchpanel"><md-icon>expand_more</md-icon></md-button>
        <md-button class="md-icon-button" ng-click="showsearchpanel=!showsearchpanel" ng-show="showsearchpanel"><md-icon>expand_less</md-icon></md-button>
      </div>
      <md-divider></md-divider>

      <div layout="column" ng-show="showsearchpanel">
        <br />
        <md-input-container>
          <label>Search By App ID</label>
          <input type="text" ng-model="varallapps.searchappid">
        </md-input-container>
        <md-input-container style="margin: 0">
          <label>Search By Name</label>
          <input type="text" ng-model="varallapps.searchappname">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Search By Status</label>
          <md-select ng-model="varallapps.searchappstatus" multiple>
            <md-option ng-value="status" ng-repeat="status in statuses">
              {{status}}
            </md-option>
          </md-select>
        </md-input-container>
        <br />
        <div layout="row">
          <span flex></span>
          <md-button class="md-primary md-raised" ng-click="searchappload()">Search</md-button>
        </div>
      </div>
      <br />
      <div layout="row" layout-align="start center">
        <div flex>Showing {{varallapps.skip+1}} to {{((varallapps.appcount<=(varallapps.skip+varallapps.limit))?varallapps.appcount:(varallapps.skip+varallapps.limit))}} of {{varallapps.appcount}}</div>
        <md-button class="md-fab md-mini md-primary" ng-disabled="varallapps.skip==0" ng-click="previous()"><md-icon>chevron_left</md-icon></md-button>
        <md-button class="md-fab md-mini md-primary" ng-disabled="varallapps.appcount<=(varallapps.skip+varallapps.limit)" ng-click="next()"><md-icon>chevron_right</md-icon></md-button>
      </div>
    </md-subheader>
    <md-divider></md-divider>
    <md-list style="overflow: scroll;">
      <md-list-item ng-repeat="app in varallapps.apps" class="md-3-line"
        ng-style="{'background-color': (app.id==varallapps.currentrealm.id?'#fff':'')}">
        <div class="md-list-item-text" layout="column">
          <h3>{{ app.appname }}</h3>
          <p>{{app.appstatus}}</p>
          <p ng-style="{'color': (app.deleteind?'red':'')}">{{ app.deleteind?("Deleted on " + (app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')): "Not Deleted" }}</p>
          <p ng-if="app.deleteind">{{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
        </div>
        <md-button class="md-secondary md-primary" ng-click="select(app)" ng-if="app.id!=varallapps.currentrealm.id">
          Select
        </md-button>
        <div class="md-body-1 md-secondary" ng-if="app.id==varallapps.currentrealm.id">
          Selected
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </div>
  <md-divider></md-divider>
  <div layout="column" flex ui-view>
  </div>
</div>
