<md-subheader style="background: #f1f1f1">
  <div class="md-title">{{varallapps.currentrealm.appname || 'No App Selected'}}</div>
  <md-nav-bar md-selected-nav-item="varallapps.currentnavitem">
    <md-nav-item md-nav-click="goto('overview')" name="overview">
      Overview
    </md-nav-item>
    <md-nav-item md-nav-click="goto('pushsettings')" name="pushsettings">
      Push Settings
    </md-nav-item>
  </md-nav-bar>
</md-subheader>
<md-content flex ui-view layout="column" layout-fill class="main-content"></md-content>
