<div ng-show="varnotpublished.loading" class="md-padding">
  Loading..
</div>

<div ng-show="!varnotpublished.loading" class="md-padding">
  <div class="md-padding" ng-show="varnotpublished.noapp" layout-align="center" layout="row">
    No Apps to show.
  </div>
  <div class="md-padding" ng-show="varnotpublished.error" layout-align="center" layout="row">
    {{varnotpublished.error}}
  </div>
  <div layout="row" layout-align="start center" ng-hide="varnotpublished.noapp">
    <div flex>Showing {{varnotpublished.skip+1}} to {{((varnotpublished.appcount<=(varnotpublished.skip+varnotpublished.limit))?varnotpublished.appcount:(varnotpublished.skip+varnotpublished.limit))}} of {{varnotpublished.appcount}}</div>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varnotpublished.skip==0" ng-click="previous(varnotpublished)"><md-icon>chevron_left</md-icon></md-button>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varnotpublished.appcount<=(varnotpublished.skip+varnotpublished.limit)" ng-click="next(varnotpublished)"><md-icon>chevron_right</md-icon></md-button>
  </div>
  <md-list>
    <md-list-item ng-repeat="app in varnotpublished.apps" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3>{{ app.appname }}</h3>
        <p> {{ app.appstatus }} </p>
        <p ng-if="app.deleteind" style="color: red;">Deleted on {{(app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')}}, {{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
      </div>
      <md-button class="md-secondary md-primary" ng-click="submitreqtopub(app)">
        Request To Publish
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
