<div ng-show="varpackage.loading" class="md-padding">
  Loading..
</div>

<div ng-show="!varpackage.loading" class="md-padding">
  <div class="md-padding" ng-show="varpackage.noapp" layout-align="center" layout="row">
    No Apps to show.
  </div>
  <div class="md-padding" ng-show="varpackage.error" layout-align="center" layout="row">
    {{varpackage.error}}
  </div>
  <div layout="row" layout-align="start center" ng-hide="varpackage.noapp">
    <div flex>Showing {{varpackage.skip+1}} to {{((varpackage.appcount<=(varpackage.skip+varpackage.limit))?varpackage.appcount:(varpackage.skip+varpackage.limit))}} of {{varpackage.appcount}}</div>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varpackage.skip==0" ng-click="previous(varpackage)"><md-icon>chevron_left</md-icon></md-button>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varpackage.appcount<=(varpackage.skip+varpackage.limit)" ng-click="next(varpackage)"><md-icon>chevron_right</md-icon></md-button>
  </div>

  <md-list>
    <md-list-item ng-repeat="app in varpackage.apps" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3>{{ app.appname }}</h3>
        <p> {{ app.appstatus }} </p>
        <p ng-if="app.deleteind" style="color: red;">Deleted on {{(app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')}}, {{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
      </div>
      <md-button class="md-secondary md-primary" ng-click="submittoappstores(app)">
        Mark As Submitted To App Stores
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
