<div ng-show="varpartpub.loading" class="md-padding">
  Loading..
</div>

<div ng-show="!varpartpub.loading" class="md-padding">
  <div class="md-padding" ng-show="varpartpub.noapp" layout-align="center" layout="row">
    No Apps to show.
  </div>
  <div class="md-padding" ng-show="varpartpub.error" layout-align="center" layout="row">
    {{varpartpub.error}}
  </div>
  <div layout="row" layout-align="start center" ng-hide="varpartpub.noapp">
    <div flex>Showing {{varpartpub.skip+1}} to {{((varpartpub.appcount<=(varpartpub.skip+varpartpub.limit))?varpartpub.appcount:(varpartpub.skip+varpartpub.limit))}} of {{varpartpub.appcount}}</div>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varpartpub.skip==0" ng-click="previous(varpartpub)"><md-icon>chevron_left</md-icon></md-button>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varpartpub.appcount<=(varpartpub.skip+varpartpub.limit)" ng-click="next(varpartpub)"><md-icon>chevron_right</md-icon></md-button>
  </div>
  <md-list>
    <md-list-item ng-repeat="app in varpartpub.apps" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3>{{ app.appname }}</h3>
        <p> {{ app.appstatus }} </p>
        <p ng-if="app.deleteind" style="color: red;">Deleted on {{(app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')}}, {{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
      </div>
      <md-button class="md-secondary md-primary" ng-click="markaspub(app)">
        Mark As Published
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
