<div ng-show="varpublished.loading" class="md-padding">
  Loading..
</div>

<div ng-show="!varpublished.loading" class="md-padding">
  <div class="md-padding" ng-show="varpublished.noapp" layout-align="center" layout="row">
    No Apps to show.
  </div>
  <div class="md-padding" ng-show="varpublished.error" layout-align="center" layout="row">
    {{varpublished.error}}
  </div>
  <div layout="row" layout-align="start center" ng-hide="varpublished.noapp">
    <div flex>Showing {{varpublished.skip+1}} to {{((varpublished.appcount<=(varpublished.skip+varpublished.limit))?varpublished.appcount:(varpublished.skip+varpublished.limit))}} of {{varpublished.appcount}}</div>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varpublished.skip==0" ng-click="previous(varpublished)"><md-icon>chevron_left</md-icon></md-button>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varpublished.appcount<=(varpublished.skip+varpublished.limit)" ng-click="next(varpublished)"><md-icon>chevron_right</md-icon></md-button>
  </div>
  <md-list>
    <md-list-item ng-repeat="app in varpublished.apps" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3>{{ app.appname }}</h3>
        <p> {{ app.appstatus }} </p>
        <p ng-if="app.deleteind" style="color: red;">Deleted on {{(app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')}}, {{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
      </div>
      <md-button class="md-secondary md-primary" ng-click="submitreqtorepub(app)">
        Request To Re-Publish
      </md-button>
      <md-button class="md-secondary md-warn" ng-click="submitreqtounpub(app)">
        Request To Un-Publish
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
