<div ng-show="varreqtorepub.loading" class="md-padding">
  Loading..
</div>

<div ng-show="!varreqtorepub.loading" class="md-padding">
  <div class="md-padding" ng-show="varreqtorepub.noapp" layout-align="center" layout="row">
    No Apps to show.
  </div>
  <div class="md-padding" ng-show="varreqtorepub.error" layout-align="center" layout="row">
    {{varreqtorepub.error}}
  </div>
  <div layout="row" layout-align="start center" ng-hide="varreqtorepub.noapp">
    <div flex>Showing {{varreqtorepub.skip+1}} to {{((varreqtorepub.appcount<=(varreqtorepub.skip+varreqtorepub.limit))?varreqtorepub.appcount:(varreqtorepub.skip+varreqtorepub.limit))}} of {{varreqtorepub.appcount}}</div>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varreqtorepub.skip==0" ng-click="previous(varreqtorepub)"><md-icon>chevron_left</md-icon></md-button>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varreqtorepub.appcount<=(varreqtorepub.skip+varreqtorepub.limit)" ng-click="next(varreqtorepub)"><md-icon>chevron_right</md-icon></md-button>
  </div>
  <md-list>
    <md-list-item ng-repeat="app in varreqtorepub.apps" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3>{{ app.appname }}</h3>
        <p> {{ app.appstatus }} </p>
        <p ng-if="app.deleteind" style="color: red;">Deleted on {{(app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')}}, {{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
      </div>
      <md-button class="md-secondary md-primary" ng-click="submitpackage(app)">
        Mark As Packaging To Publish
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
