<div ng-show="varreqtounpub.loading" class="md-padding">
  Loading..
</div>

<div ng-show="!varreqtounpub.loading" class="md-padding">
  <div class="md-padding" ng-show="varreqtounpub.noapp" layout-align="center" layout="row">
    No Apps to show.
  </div>
  <div class="md-padding" ng-show="varreqtounpub.error" layout-align="center" layout="row">
    {{varreqtounpub.error}}
  </div>
  <div layout="row" layout-align="start center" ng-hide="varreqtounpub.noapp">
    <div flex>Showing {{varreqtounpub.skip+1}} to {{((varreqtounpub.appcount<=(varreqtounpub.skip+varreqtounpub.limit))?varreqtounpub.appcount:(varreqtounpub.skip+varreqtounpub.limit))}} of {{varreqtounpub.appcount}}</div>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varreqtounpub.skip==0" ng-click="previous(varreqtounpub)"><md-icon>chevron_left</md-icon></md-button>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varreqtounpub.appcount<=(varreqtounpub.skip+varreqtounpub.limit)" ng-click="next(varreqtounpub)"><md-icon>chevron_right</md-icon></md-button>
  </div>
  <md-list>
    <md-list-item ng-repeat="app in varreqtounpub.apps" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3>{{ app.appname }}</h3>
        <p> {{ app.appstatus }} </p>
        <p ng-if="app.deleteind" style="color: red;">Deleted on {{(app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')}}, {{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
      </div>
      <md-button class="md-secondary md-primary" ng-click="markasunpubinprogress(app)">
        Mark As UnPublish In Progress
      </md-button>
      <md-button class="md-secondary md-primary" ng-click="markaspub(app)">
        Mark Back As Published
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
