<div ng-show="varreqtopub.loading" class="md-padding">
  Loading..
</div>

<div ng-show="!varreqtopub.loading" class="md-padding">
  <div class="md-padding" ng-show="varreqtopub.noapp" layout-align="center" layout="row">
    No Apps to show.
  </div>
  <div class="md-padding" ng-show="varreqtopub.error" layout-align="center" layout="row">
    {{varreqtopub.error}}
  </div>
  <div layout="row" layout-align="start center" ng-hide="varreqtopub.noapp">
    <div flex>Showing {{varreqtopub.skip+1}} to {{((varreqtopub.appcount<=(varreqtopub.skip+varreqtopub.limit))?varreqtopub.appcount:(varreqtopub.skip+varreqtopub.limit))}} of {{varreqtopub.appcount}}</div>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varreqtopub.skip==0" ng-click="previous(varreqtopub)"><md-icon>chevron_left</md-icon></md-button>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varreqtopub.appcount<=(varreqtopub.skip+varreqtopub.limit)" ng-click="next(varreqtopub)"><md-icon>chevron_right</md-icon></md-button>
  </div>
  <md-list>
    <md-list-item ng-repeat="app in varreqtopub.apps" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3>{{ app.appname }}</h3>
        <p> {{ app.appstatus }} </p>
        <p ng-if="app.deleteind" style="color: red;">Deleted on {{(app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')}}, {{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
      </div>
      <md-button class="md-secondary md-primary" ng-click="submitpackage(app)">
        Mark As Packaging To Publish
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
