<div ng-show="vartoappstores.loading" class="md-padding">
  Loading..
</div>

<div ng-show="!vartoappstores.loading" class="md-padding">
  <div class="md-padding" ng-show="vartoappstores.noapp" layout-align="center" layout="row">
    No Apps to show.
  </div>
  <div class="md-padding" ng-show="vartoappstores.error" layout-align="center" layout="row">
    {{vartoappstores.error}}
  </div>
  <div layout="row" layout-align="start center" ng-hide="vartoappstores.noapp">
    <div flex>Showing {{vartoappstores.skip+1}} to {{((vartoappstores.appcount<=(vartoappstores.skip+vartoappstores.limit))?vartoappstores.appcount:(vartoappstores.skip+vartoappstores.limit))}} of {{vartoappstores.appcount}}</div>
    <md-button class="md-fab md-mini md-primary" ng-disabled="vartoappstores.skip==0" ng-click="previous(vartoappstores)"><md-icon>chevron_left</md-icon></md-button>
    <md-button class="md-fab md-mini md-primary" ng-disabled="vartoappstores.appcount<=(vartoappstores.skip+vartoappstores.limit)" ng-click="next(vartoappstores)"><md-icon>chevron_right</md-icon></md-button>
  </div>
  <md-list>
    <md-list-item ng-repeat="app in vartoappstores.apps" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3>{{ app.appname }}</h3>
        <p> {{ app.appstatus }} </p>
        <p ng-if="app.deleteind" style="color: red;">Deleted on {{(app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')}}, {{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
      </div>
      <md-button class="md-secondary md-primary" ng-click="markaspartpub(app)">
        Mark As Partly Published
      </md-button>
      <md-button class="md-secondary md-primary" ng-click="markaspub(app)">
        Mark As Published
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
