<div ng-show="varunpublishinprogress.loading" class="md-padding">
  Loading..
</div>

<div ng-show="!varunpublishinprogress.loading" class="md-padding">
  <div class="md-padding" ng-show="varunpublishinprogress.noapp" layout-align="center" layout="row">
    No Apps to show.
  </div>
  <div class="md-padding" ng-show="varunpublishinprogress.error" layout-align="center" layout="row">
    {{varunpublishinprogress.error}}
  </div>
  <div layout="row" layout-align="start center" ng-hide="varunpublishinprogress.noapp">
    <div flex>Showing {{varunpublishinprogress.skip+1}} to {{((varunpublishinprogress.appcount<=(varunpublishinprogress.skip+varunpublishinprogress.limit))?varunpublishinprogress.appcount:(varunpublishinprogress.skip+varunpublishinprogress.limit))}} of {{varunpublishinprogress.appcount}}</div>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varunpublishinprogress.skip==0" ng-click="previous(varunpublishinprogress)"><md-icon>chevron_left</md-icon></md-button>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varunpublishinprogress.appcount<=(varunpublishinprogress.skip+varunpublishinprogress.limit)" ng-click="next(varunpublishinprogress)"><md-icon>chevron_right</md-icon></md-button>
  </div>
  <md-list>
    <md-list-item ng-repeat="app in varunpublishinprogress.apps" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3>{{ app.appname }}</h3>
        <p> {{ app.appstatus }} </p>
        <p ng-if="app.deleteind" style="color: red;">Deleted on {{(app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')}}, {{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
      </div>
      <md-button class="md-secondary md-primary" ng-click="markasunpub(app)">
        Mark As Un-Published
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
