<div ng-show="varunpublished.loading" class="md-padding">
  Loading..
</div>

<div ng-show="!varunpublished.loading" class="md-padding">
  <div class="md-padding" ng-show="varunpublished.noapp" layout-align="center" layout="row">
    No Apps to show.
  </div>
  <div class="md-padding" ng-show="varunpublished.error" layout-align="center" layout="row">
    {{varunpublished.error}}
  </div>
  <div layout="row" layout-align="start center" ng-hide="varunpublished.noapp">
    <div flex>Showing {{varunpublished.skip+1}} to {{((varunpublished.appcount<=(varunpublished.skip+varunpublished.limit))?varunpublished.appcount:(varunpublished.skip+varunpublished.limit))}} of {{varunpublished.appcount}}</div>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varunpublished.skip==0" ng-click="previous(varunpublished)"><md-icon>chevron_left</md-icon></md-button>
    <md-button class="md-fab md-mini md-primary" ng-disabled="varunpublished.appcount<=(varunpublished.skip+varunpublished.limit)" ng-click="next(varunpublished)"><md-icon>chevron_right</md-icon></md-button>
  </div>
  <md-list>
    <md-list-item ng-repeat="app in varunpublished.apps" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3>{{ app.appname }}</h3>
        <p> {{ app.appstatus }} </p>
        <p ng-if="app.deleteind" style="color: red;">Deleted on {{(app.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a')}}, {{ -1*(app.deletedate | amDifference : null : 'days')}} days ago</p>
      </div>
      <md-button class="md-secondary md-primary" ng-click="submitreqtorepub(app)">
        Request To Re-Publish
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
