<div ng-show="!varallapps.currentrealm" class="md-padding">
  No App Selected
</div>
<div ng-show="varallapps.currentrealm" class="md-padding">

  <div class="md-padding" ng-show="varallselectedapp.updateerror" layout="row" style="color: red;">
    {{varallselectedapp.updateerror}}
  </div>


  <div layout="column" class="md-padding">
    <div class="md-caption">App Name</div>
    <div class="md-subhead">{{varallapps.currentrealm.appname}}</div>
  </div>

  <md-divider></md-divider>

  <div layout="column" class="md-padding">
    <div class="md-caption">App Status</div>
    <div layout="row" layout-align="start center">
      <div class="md-subhead">{{varallapps.currentrealm.appstatus}}</div>
      <md-menu>
        <md-button ng-click="$mdMenu.open($event)" class="md-raised">
          Change Status To...
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Not Published', $event)">Not Published</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Un-Published', $event)">Un-Published</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Re-Published', $event)">Re-Published</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Requested To Publish', $event)">Requested To Publish</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Requested To Re-Publish', $event)">Requested To Re-Publish</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Requested To Un-Publish', $event)">Requested To Un-Publish</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Packaging To Publish', $event)">Packaging To Publish</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Packaging To Re-Publish', $event)">Packaging To Re-Publish</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Submitted To App Stores', $event)">Submitted To App Stores</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Submitted To App Stores For Re-Publish', $event)">Submitted To App Stores For Re-Publish</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Partly Published', $event)">Partly Published</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Partly Re-Published', $event)">Partly Re-Published</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Published', $event)">Published</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Re-Published', $event)">Re-Published</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="changestatusto(varallapps.currentrealm, 'Un-Publish In Progress', $event)">Un-Publish In Progress</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <h3 class="md-body-1">Recommended to Use "Publish" to change status. Use this only if you know what you are doing.</h3>
  </div>

  <md-divider></md-divider>

  <div layout="column" class="md-padding">
    <div class="md-caption">Delete Indicator</div>
    <div class="md-subhead">{{varallapps.currentrealm.deleteind}}</div>
    <div ng-show="varallapps.currentrealm.deleteind" class="md-title">{{varallapps.currentrealm.deletedate | amDateFormat:'MMM Do YYYY, h:mm:ss a'}}</div>
  </div>

  <md-divider></md-divider>

  <div layout="column" class="md-padding">
    <div class="md-caption">APNS Bundle ID</div>
    <div class="md-subhead">{{varallapps.currentrealm.apnsbundleid || 'None'}}</div>
  </div>

  <div layout="column" class="md-padding">
    <div class="md-caption">GCM API Key</div>
    <div class="md-subhead">{{varallapps.currentrealm.gcmsenderapikey || 'None'}}</div>
  </div>

  <md-divider></md-divider>

  <div layout="column" class="md-padding">
    <div class="md-caption">Stripe Customer</div>
    <div ng-if="varallapps.currentrealm.stripesubscriptioncustomer">
      <div class="md-subhead">id: {{varallapps.currentrealm.stripesubscriptioncustomer.id || 'None'}}</div>
      <div class="md-subhead">email: {{varallapps.currentrealm.stripesubscriptioncustomer.email || 'None'}}</div>
      <div class="md-subhead">card: {{varallapps.currentrealm.stripesubscriptioncustomer.sources.data[0].brand + ' ******' + varallapps.currentrealm.stripesubscriptioncustomer.sources.data[0].last4 || 'None'}}</div>
    </div>
    <div class="md-subhead" ng-if="!varallapps.currentrealm.stripesubscriptioncustomer"> None</div>
  </div>

  <md-divider></md-divider>

  <div layout="column" class="md-padding">
    <div class="md-caption">Base Subscription</div>
    <div class="md-subhead">id: {{varallapps.currentrealm.basubscription.id || 'None'}}</div>
    <md-list flex ng-if="varallapps.currentrealm.basubscription">
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <p>Current Plan Id</p>
          <h3>{{varallapps.currentrealm.basubscription.plan.id}}</h3>
        </div>

      </md-list-item>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <p>Current Plan Name</p>
          <h3>{{varallapps.currentrealm.basubscription.plan.nickname}}</h3>
        </div>

      </md-list-item>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <p>Subscription Start</p>
          <h3>{{varallapps.currentrealm.basubscription.current_period_start | amFromUnix | amDateFormat:'dddd, MMMM Do YYYY'}}</h3>
        </div>

      </md-list-item>
      <md-list-item class="md-3-line">
        <div class="md-list-item-text">
          <p>Subscription End</p>
          <h3>{{varallapps.currentrealm.basubscription.current_period_end | amFromUnix | amDateFormat:'dddd, MMMM Do YYYY'}}</h3>
          <p>Changing End Date will introduce an artificial trial period that ends on the given end date. This will change subscription status to trialing and user will not be able to change plans. Use this if you want to delay generation of next invoice to a different or a later date than what it is now.</p>
        </div>
        <md-button class="md-secondary md-raised" ng-click="changesubscriptionperiod(varallapps.currentrealm, 'basubscription',$event)">
          Change End Date
        </md-button>

      </md-list-item>
    </md-list>
  </div>

  <md-divider></md-divider>

  <div layout="column" class="md-padding">
    <div class="md-caption">Customer App Subscription</div>
    <div class="md-subhead">id: {{varallapps.currentrealm.casubscription.id || 'None'}}</div>
    <md-list flex ng-if="varallapps.currentrealm.casubscription">
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <p>Current Plan Id</p>
          <h3>{{varallapps.currentrealm.casubscription.plan.id}}</h3>
        </div>

      </md-list-item>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <p>Current Plan Nick Name</p>
          <h3>{{varallapps.currentrealm.casubscription.plan.nickname}}</h3>
        </div>

      </md-list-item>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <p>Subscription Start</p>
          <h3>{{varallapps.currentrealm.casubscription.current_period_start | amFromUnix | amDateFormat:'dddd, MMMM Do YYYY'}}</h3>
        </div>

      </md-list-item>
      <md-list-item class="md-3-line">
        <div class="md-list-item-text">
          <p>Subscription End</p>
          <h3>{{varallapps.currentrealm.casubscription.current_period_end | amFromUnix | amDateFormat:'dddd, MMMM Do YYYY'}}</h3>
          <p>Changing End Date will introduce an artificial trial period that ends on the given end date. This will change subscription status to trialing and user will not be able to change plans. Use this if you want to delay generation of next invoice to a different or a later date than what it is now.</p>
        </div>
        <md-button class="md-secondary md-raised" ng-click="changesubscriptionperiod(varallapps.currentrealm, 'casubscription',$event)">
          Change End Date
        </md-button>

      </md-list-item>
    </md-list>
  </div>

  <md-divider></md-divider>

  <div layout="column" class="md-padding">
    <div class="md-caption">Logs</div>
    <div class="md-subhead" ng-show="varallselectedapp.logserror">{{varallselectedapp.logserror}}</div>
    <div class="md-subhead" ng-show="varallselectedapp.nologs">No Log</div>
    <div class="md-subhead" ng-show="varallselectedapp.logsloading">Loading</div>
    <md-list ng-show="!varallselectedapp.logsloading && !varallselectedapp.logserror && !varallselectedapp.nologs">
      <md-list-item class="md-3-line md-long-text" ng-repeat="log in varallselectedapp.logs">
        <div class="md-list-item-text">
          <p>{{log.createdon | amDateFormat:'MMM Do YYYY, h:mm:ss a'}} | {{log.createdby}} | {{log.callingfunction}}</p>
          <h4>{{log.logtype}}</h4>
          <h3>{{log.log}}</h3>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </div>



</div>
