<md-dialog flex="50">
  <form name="dialogform" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{editoraddlabel}} Field</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
      <div layout="column">
        <div layout-padding-sm ng-show="entryerror">
          <p class="md-body-1" style="color:red">{{entryerror}}</p>
        </div>
        <md-input-container flex>
          <label>Name</label>
          <input required type="text" name="fieldname" ng-model="newfield.fieldname">
          <div ng-messages="dialogform.fieldname.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Type</label>
          <md-select name="fieldtype" ng-model="newfield.fieldtype"
                     data-md-container-class="selectdemoSelectHeader" required>
            <md-option ng-value="allowedfieldtype" ng-repeat="allowedfieldtype in allowedfieldtypes">{{allowedfieldtype=="String"?"Text":allowedfieldtype}}</md-option>
          </md-select>
          <div ng-messages="dialogform.fieldtype.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <md-switch ng-model="newfield.fieldrequired">
            Required? : {{ newfield.fieldrequired? 'Yes':'No' }}
          </md-switch>
        </md-input-container>
        <label ng-show="newfield.fieldtype=='Select One' || newfield.fieldtype=='Select Multiple'">Valid Values</label>
        <md-chips name="validvalues" ng-model="newfield.validvalues" placeholder="Type and press Enter"
        ng-required="newfield.fieldtype=='Select One' || newfield.fieldtype=='Select Multiple'"
        ng-show="newfield.fieldtype=='Select One' || newfield.fieldtype=='Select Multiple'">
        </md-chips>
        <div ng-messages="dialogform.validvalues.$error">
          <div ng-message="required">At least one value is required</div>
       </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-warn" ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-primary" ng-disabled='dialogform.$invalid' ng-click="addoredit()">
       {{editoraddlabel}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
