<div layout="column" layout-align="center center" flex>
  <div class="accountBox" md-whiteframe="3" layout="column">
    <md-toolbar>
      <span class="md-toolbar-tools">
          Sign in
      </span>
    </md-toolbar>
    <md-content class="md-padding" layout="column">
      <form name="form">
        <div layout="row" layout-padding-sm ng-show="resp.error">
          <p class="md-body1" style="color:red">{{resp.error}}</p>
        </div>
        <div layout="row" layout-padding-sm ng-show="msg">
          <p class="md-body1">{{msg}}</p>
        </div>
        <md-input-container class="md-block">
          <label> Email </label>
          <input required type="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label> Password </label>
          <input required type="password" ng-model="user.password"></input>
        </md-input-container>
        <md-checkbox class="md-primary" ng-model="user.rememberMe">
          Remember Me
        </md-checkbox>
        <div layout="row" layout-padding-md layout-align="center center">
          <md-button class="md-raised md-primary" flex ng-click="login()" ng-disabled='form.$invalid || user.signindisabled'> {{user.signinname}} </md-button>
        </div>
        <div layout="row" layout-padding-sm layout-align="center">
          <a ui-sref="forgotpwd"> Forgot Password </a>
        </div>
        <div layout="row" layout-padding-sm layout-align="center">
          <a ui-sref="register"> Create Account </a>
        </div>
        <div layout="row" layout-padding-sm layout-align="center">
          <a ui-sref="verify"> Verify Email </a>
        </div>
      </form>
    </md-content>
    <div layout="row" ng-show="user.signinspinner" layout-align="center center">
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
  </div>
</div>
