<div layout="column" layout-align="center center" flex>
  <div class="accountBox" md-whiteframe="3" layout="column">
    <md-toolbar>
      <span class="md-toolbar-tools">
        Reset Password
      </span>
    </md-toolbar>
    <md-content class="md-padding" layout="column">
      <form name="form">
        <div layout="row" layout-padding-sm>
          <p class="md-body1">Enter the verification code sent to your email along with the new password</p>
        </div>
        <div layout="row" layout-padding-sm ng-show="resp.error">
          <p class="md-body1" style="color:red">{{resp.error}}</p>
        </div>
        <md-input-container class="md-block">
          <label> Email </label>
          <input required type="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label> Verification Code </label>
          <input required type="text" ng-model="user.vcode"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label> Password </label>
          <input required type="password" ng-model="user.password"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label> Confirm Password </label>
          <input required type="password" ng-model="user.confpassword"></input>
        </md-input-container>
        <div layout="row" layout-padding-md layout-align="center center">
          <md-button class="md-raised md-primary" flex ng-click="passreset()" ng-disabled='form.$invalid || user.btndisabled'> {{user.btnname}} </md-button>
        </div>
        <div layout="row" layout-padding-sm layout-align="center">
          <a ui-sref="login"> Back to Sign in </a>
        </div>
        <div layout="row" layout-padding-sm layout-align="center">
          <a ui-sref="forgotpwd"> Send a new verification code </a>
        </div>
      </form>
    </md-content>
    <div layout="row" ng-show="user.btnspinner" layout-align="center center">
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
  </div>
</div>
