<md-dialog layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{interactionmessage.creatinguser.firstname}} {{interactionmessage.creatinguser.lastname}}</h2>
      <span flex></span>
      <md-button class="md-raised" ng-href="{{interactionmessage.message[1].fieldurl}}" download>
        Download
      </md-button>
      <md-button class="md-raised" ng-click="cancel()">
        Close
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout="row" flex layout-fill>
    <div flex layout="column" layout-align="center center">
      <img ng-src="{{interactionmessage.message[1].fieldurl}}" style="max-width: 100%; max-height: 100%;"/>
    </div>
  </md-dialog-content>

</md-dialog>
