<div layout="column" class="content-subheader">
  <div layout="row">
    <div class="md-title">Select a Form</div>
  </div>
  <div class="md-subhead" ng-show="messageformslist.nomessageforms"><br>No Forms to Select From<br></div>
  <div class="md-subhead" ng-show="messageformslist.messageformsloading"><br>Loading..<br></div>
  <div class="md-subhead" ng-show="messageformslist.messageformsloadingerror"><br>{{messageformslist.messageformsloadingerror}}<br></div>
  <md-list ng-hide="messageformslist.nomessageforms || messageformslist.messageformsloading || messageformslist.messageformsloadingerror">
    <md-divider></md-divider>
    <md-list-item class="secondary-button-padding md-2-line">
      <div class="md-list-item-text">
        <h3>Simple Message</h3>
        <p>No Form</p>
      </div>
      <md-button class="md-secondary md-primary md-raised" ng-click="selectform(1)">Select</md-button>
      <md-divider></md-divider>
    </md-list-item>
    <md-list-item class="secondary-button-padding md-2-line" ng-repeat="form in messageformslist.messageforms">
      <div class="md-list-item-text">
        <h3>{{form.name}}</h3>
        <p>{{form.description}}</p>
      </div>
      <md-button class="md-secondary md-primary md-raised" ng-click="selectform(0,form)">Select</md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
  <br>
  <div layout="row">
    <span flex></span>
    <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
  </div>
</div>
