<div class="content-subheader">
  <div layout="row" layout-align="start center">
    <div layout="column">
      <h1 class="md-headline">{{adminappviewinteractmessages.interaction.title}}</h1>
    </div>
    <span flex></span>
    <md-button class="md-raised" ng-click="backtointeractions()" ng-show="!adminappviewinteractmessageslist.shownew">
      <md-icon class="material-icons">keyboard_backspace</md-icon>Back
    </md-button>
    <div ng-hide="adminapp.apploading || adminapp.apperror || adminapp.noapp">
      <md-button class="md-raised" ng-click="openreccard=1" ng-show="!adminappviewinteractmessageslist.shownew">
        Show Recipients
      </md-button>
      <md-button class="md-raised md-warn" ng-click="deleteinteraction($event)" ng-show="!adminappviewinteractmessageslist.shownew"
      ng-if="adminappviewinteractmessages.selectedsection.admincandeleteanyinteraction ||
      (adminappviewinteractmessages.selectedsection.admincandeleteowninteraction && adminappviewinteractmessages.selectedsection.initiatedby=='Administrator')">
        <md-icon class="material-icons">delete_forever</md-icon> Delete
      </md-button>
      <md-button class="md-raised md-primary" ng-show="!adminappviewinteractmessageslist.shownew"
        ng-if="adminappviewinteractmessages.selectedsection.discussionallowed" ng-click="shownewmessageform()">
        <md-icon class="material-icons">reply_all</md-icon> Reply
      </md-button>
      <md-button class="md-raised" ng-show="adminappviewinteractmessageslist.shownew"
        ng-if="adminappviewinteractmessages.selectedsection.discussionallowed" ng-click="shownewmessageform()">
        <md-icon class="material-icons">close</md-icon> Cancel
      </md-button>
    </div>
  </div>
</div>

<div class="md-padding" ng-show="adminapp.apploading || adminappviewinteractmessages.messagesloading" layout="row" layout-align="center center">
  <p> Loading...</p>
</div>

<div ng-hide="adminapp.apploading || adminappviewinteractmessages.messagesloading" layout="row" layout-align="center center">
  <div class="md-padding" ng-show="adminappviewinteractmessages.messagesloadingerror || adminapp.apperror || adminapp.noapp">
    <p> Unable to load. Please try again later!</p>
  </div>
</div>

<div class="md-padding" ng-hide="adminapp.apploading || adminapp.apperror || adminapp.noapp || adminappviewinteractmessages.messagesloading || adminappviewinteractmessages.messagesloadingerror">

  <md-card flex ng-hide="!adminappviewinteractmessageslist.shownew || !adminappviewinteractmessages.selectedsection.discussionallowed">
   <div layout="row" layout-align="center center" class="form-title-bar">
     <span flex>New Message</span>
   </div>
    <form name="newmsgform" class="md-padding">
      <div layout="column">
        <div layout="column">

          <md-input-container flex>
            <label>New Message</label>
            <textarea type="textarea" required name="simplemessage" ng-model="adminappviewinteractmessageslist.newmessageform.fields[0].fieldvalue"></textarea>
            <div ng-messages="newmsgform.simplemessage.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <i ng-show="newmsgform.file.$error.pattern" style="color:red;">Error: The selected file is not a valid image!</i>
          <i ng-show="newmsgform.file.$error.maxSize" style="color:red;">Error: The selected file is too large, max 20MB allowed!</i>
          <div layout="row">
            <div class="md-primary">{{adminappviewinteractmessageslist.newmessageform.fields[1].showimginfo}}</div>
            <md-progress-circular ng-show="adminappviewinteractmessageslist.newmessageform.fields[1].showprogresscircle" md-mode="indeterminate" md-diameter="20px"></md-progress-circular>
          </div>
          <div flex="100" flex-gt-sm="50" ng-show="adminappviewinteractmessageslist.newmessageform.fields[1].fieldorigimg">
            <img ngf-src="adminappviewinteractmessageslist.newmessageform.fields[1].fieldlargeimg" style="max-width: 100%; height: auto;">
          </div>

        </div>
      </div>
      <div layout="row" layout-align="start center" style="color:red;">
        <i>{{adminappviewinteractmessageslist.createmessageerror}}</i>
      </div>

      <div layout="row" layout-align="start center">
        <!-- Image related buttons -->
        <md-button class="md-button md-raised" ngf-select
        ng-hide="adminappviewinteractmessageslist.newmessageform.fields[1].fieldlargeimg"
        ng-model="adminappviewinteractmessageslist.newmessageform.fields[1].fieldorigimg" name="file" ngf-capture="'camera'"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
        ngf-before-model-change="beforeimagechange()" ngf-change="afterimagechange()">
          <md-icon class="material-icons">add_a_photo</md-icon> Insert Image
        </md-button>
        <md-button class="md-button md-raised" ng-click="removeimage()" ng-hide="!adminappviewinteractmessageslist.newmessageform.fields[1].fieldlargeimg">
          Remove Image
        </md-button>
        <!-- End of Image related buttons -->
        <span flex></span>
        <md-button class="md-raised" ng-show="adminappviewinteractmessageslist.shownew" ng-click="shownewmessageform()">
          <md-icon class="material-icons">close</md-icon> Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-disabled="newmsgform.$invalid" ng-click="createnewmessage()">
          <md-icon class="material-icons">send</md-icon> Post
        </md-button>
      </div>
    </form>
  </md-card>

  <div ng-hide="adminappviewinteractmessageslist.shownew" layout="row" flex layout-fill>
    <!--Edit View-->
    <div flex layout="column" class="padding-horizontal-large padding-vertical-large">

      <div class="md-padding" ng-show="adminappviewinteractmessages.nomessages" layout="row" layout-align="center center">
        <p> Empty - No Messages to show. </p>
      </div>
      <div class="md-padding" ng-show="adminappviewinteractmessages.removeinteractionerror" layout="row" layout-align="center center">
        <p style="color:red"> {{adminappviewinteractmessages.removeinteractionerror}} </p>
      </div>
      <div class="md-padding" ng-show="adminappviewinteractmessages.removeinteractionmessageerror" layout="row" layout-align="center center">
        <p style="color:red"> {{adminappviewinteractmessages.removeinteractionmessageerror}} </p>
      </div>

      <div ng-show="openreccard" class="padding-bottom-large">
        <md-card style="margin: 0">
          <div layout="row" layout-align="center center" class="form-title-bar">
            <span flex class="one-line-only">Recipients</span>
            <md-button ng-show="openreccard" ng-click="openreccard=0;"><md-icon>close</md-icon> Close</md-button>
          </div>
          <div class="md-padding" layout=column>
            <div ng-if="adminappviewinteractmessages.interaction.broadcastind" class="md-body-1 padding-vertical-small">Broadcasted to All Users</div>
            <div ng-repeat="user in adminappviewinteractmessages.interaction.receivingusers" class="md-body-1 padding-vertical-small">
              {{(user.firstname + user.lastname)?(user.firstname + ' ' + user.lastname): 'Unavailable'}}
            </div>
          </div>
        </md-card>
      </div>

      <div layout="row" layout-align="start center" class="padding-vertical">
        <span class="md-body-1"> Showing {{adminappviewinteractmessages.messagesfrom}} to
          {{adminappviewinteractmessages.messagesto}} of
          {{adminappviewinteractmessages.messagestotalcount}}
        </span>
        <span flex></span>
        <md-button class="md-raised md-icon-button md-primary" ng-disabled="!adminappviewinteractmessages.messagesprevpage" ng-click="prevmessagespage()"><md-icon>navigate_before</md-icon></md-button>
        <md-button class="md-raised md-icon-button md-primary" ng-disabled="!adminappviewinteractmessages.messagesnextpage" ng-click="nextmessagespage()"><md-icon>navigate_next</md-icon></md-button>
      </div>
      <md-divider></md-divider>
      <div layout="column" flex>
        <div layout="column" ng-repeat="interactionmessage in adminappviewinteractmessages.messages">
          <div class="padding-vertical-large">
            <div layout="row" layout-align="start center">
              <div layout="column">
                <span class="md-body-2">{{interactionmessage.creatinguser.firstname}} {{interactionmessage.creatinguser.lastname}}</span>
                <span class="md-caption" style="color: #777">{{interactionmessage.createdon | amCalendar:referenceTime:formats}}</span>
              </div>
              <span flex></span>
              <a class="md-caption padding-horizontal-large"  style="color: blue" ng-click="deleteinteractionmessage($event, interactionmessage)"
              ng-if="adminappviewinteractmessages.selectedsection.admincandeleteanyinteractionmessage ||
              (adminappviewinteractmessages.selectedsection.admincandeleteowninteractionmessage &&
              interactionmessage.creatinguser.id==adminappviewinteractmessages.currentUserId)">
                Delete
              </a>
            </div>
            <div ng-if="!interactionmessage.messageformind" class="padding-vertical-small">
              <div class="md-body-1">{{interactionmessage.message[0].fieldvalue}}</div>
              <div style="cursor:pointer;" flex="100" flex-gt-sm="50" ng-if="interactionmessage.message[1].fieldvalue" ng-click="openphoto(interactionmessage, $event)">
                <img ng-src="{{interactionmessage.message[1].fieldurl}}" style="max-width: 100%; height: auto; padding-top:5px;"/>
              </div>
            </div>
            <md-card style="margin: 16px 0;" ng-if="interactionmessage.messageformind">
              <div layout="row" layout-align="center center" class="form-title-bar">
                <span flex>{{interactionmessage.messageformname}}</span>
              </div>
              <div class="md-padding" layout="column" ng-repeat="messagefield in interactionmessage.message">
                <div style="min-height: 48px" layout="column" >
                  <span class="md-caption" style="color:#777">{{messagefield.fieldname}}</span>
                  <span class="md-body-1" ng-if="messagefield.fieldtype=='Date'">{{(messagefield.fieldvalue | amDateFormat:'M/D/YYYY')}}</span>
                  <span class="md-body-1" ng-if="messagefield.fieldtype=='Select Multiple'">{{messagefield.fieldvalue?messagefield.fieldvalue.join(", "):null}}</span>
                  <span class="md-body-1" ng-if="messagefield.fieldtype=='String' || messagefield.fieldtype=='Number' || messagefield.fieldtype=='Select One'">{{messagefield.fieldvalue}}</span>
                </div>
                <md-divider></md-divider>
              </div>
            </md-card>
          </div>
          <md-divider></md-divider>
        </div>
      </div>

      <div layout="row" layout-align="start center" class="padding-vertical">
        <span class="md-body-1"> Showing {{adminappviewinteractmessages.messagesfrom}} to
          {{adminappviewinteractmessages.messagesto}} of
          {{adminappviewinteractmessages.messagestotalcount}}
        </span>
        <span flex></span>
        <md-button class="md-raised md-icon-button md-primary" ng-disabled="!adminappviewinteractmessages.messagesprevpage" ng-click="prevpage()"><md-icon>navigate_before</md-icon></md-button>
        <md-button class="md-raised md-icon-button md-primary" ng-disabled="!adminappviewinteractmessages.messagesnextpage" ng-click="nextpage()"><md-icon>navigate_next</md-icon></md-button>
      </div>



    </div>
    <!--End of Edit View-->

  </div>

</div>
